<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "meta.html" %}
    {% include "favicons.html" %}
    <title>Analytics.fit{%- block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/assets/styles/vendor/sb-admin.css">
    <link rel="stylesheet" href="/static/assets/styles/styles.css">
    {%- block styles -%}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68150145-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
{% set active_page = active_page|default('dashboard') -%}
<div id="wrapper">
    {%  include "header.html" %}
    <div id="page-wrapper">
        <div class="container-fluid">
            {%- block content -%}
            {% endblock %}
        </div>
    </div>
</div>
<script src="/static/components/jquery/dist/jquery.min.js"></script>
<script src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/components/highcharts/highcharts.js"></script>
<script src="/static/components/highcharts/highcharts-more.js"></script>
<script src="/static/assets/scripts/getDate.js"></script>
{%- block scripts -%}
{% endblock %}
</body>
</html>