<meta name="description" content="Fitbit Analytics: A Deep Dive Statistical Analysis of Your Fitbit Data">
<meta name="keywords" content="Fitbit, Analytics, Graphs, Trends">

<meta property="og:title" content="Fitbit Analytics">
<meta property="og:type" content="website">
<meta property="og:image" content="">
<meta property="og:url" content="http://www.fitbitanalytics.com">
<meta property="og:description" content="A Deep Dive Statistical Analysis of Your Fitbit Data">
<meta property="fb:admins" content="{{ FB_USER__ID }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://www.fitbitanalytics.com">
<meta name="twitter:title" content="Fitbit Analytics">
<meta name="twitter:description" content="A Deep Dive Statistical Analysis of Your Fitbit Data">
<meta name="twitter:image" content="">
